@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    width: 100vw;
    height: 100vh;
    /* background: url(../imagens/Fundo9.jpg) center no-repeat; */
    /* background-size: cover; */
    font-family: 'Shadows Into Light', cursive;
}

.banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.banner video{
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header{
    position: relative;
}

.container{
    width: 100vw;
    height: 100vh;
}

.container .image_perf{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image_perf img{
    margin-top: 1rem;
}

img{
    width: 180px;
}

.caption a{
    margin-bottom: 30px;
}

.conteudo{
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
    margin-top: 3px;
    place-items: center;
}

.conteudo .conteudos{
    display: flex;
    position: relative;
    border-style: solid;
    color: #a5e0fda4;
    width: 500px;
    height: 160px;
    border-radius: 50px;
    flex-direction: column;
    background-color: #1f365234;;
    place-items: center;
}

.conteudos p{
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container .caption{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption a{
    text-align: center;
    margin-top: 1.5rem;
    letter-spacing: 10px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    font-size: 30px;
}

.contact{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: container;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 2s;
    position: relative;
}

.contact .email:hover{
    color: #A5E0FD;
}

.contact .wpp:hover{
    color: #A5E0FD;
}

.contact .email{
    margin: 40px;
}


.email a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 2px;
    font-weight: 900;
    color: white
}

.wpp a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 2px;
    font-weight: 900;
    color: white;
}

.links{
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.portfolio{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: #1f365234;;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.portfolio a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.portfolio:hover{
    background-color: black;
    content: '';
    transition: all 2s ease;
}

.github{
    display: flex;
    width: 35rem;
    height: 3rem;
     background-color: #1f365234;;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.github a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.github:hover{
    background-color: black;
    content: '';
    transition: all 1s ease;
}

.linkedin{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: #1f365234;;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.linkedin a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.linkedin:hover{
    background-color: black;
    content: '';
    transition: all 1s ease;
}

.instagram{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: #1f365234;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.instagram a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.instagram:hover{
    background-color: black;
    content: '';
    transition: all 1s ease;
}

.rodape{
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -2rem;
    position: relative;
}


@media screen and (max-width:500px){ /*MAX WIDTH =  Tela menor que alguma resoluçao*/
    img{
        width: 120px;
    }

    .caption a{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .conteudo .conteudos{
        width: 90%;
        align-items: center;
    }

    .conteudos{
        font-size: 11px;
    }

    .links .portfolio{
        width: 350px;
        height: 40px;
    }

    .links .github{
        width: 350px;
        height: 40px;
    }

    .links .linkedin{
        width: 350px;
        height: 40px;
    }

    .links .instagram{
        width: 350px;
        height: 40px;
    }

    .rodape{
        margin-top: 10px;
    }

}

@media screen and (max-width:300px){ /*MAX WIDTH =  Tela menor que alguma resoluçao*/
    img{
        width: 120px;
    }

    .caption a{
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .conteudo .conteudos{
        width: 98%;
        align-items: center;
    }

    .conteudos{
        font-size: 9px;
        text-align: center;
    }

    .links .portfolio{
        width: 250px;
        height: 30px;
    }

    .links .github{
        width: 250px;
        height: 30px;
    }

    .links .linkedin{
        width: 250px;
        height: 30px;
    }

    .links .instagram{
        width: 250px;
        height: 30px;
    }

    .rodape{
        margin-top: 10px;
    }

}