@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding:0;
}

body{
    width: 100vw;
    height: 100vh;
    background: url(../imagens/Fundo08.jpg) center;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
}

.container{
    width: 100vw;
    height: 100vh;
}

.container .image_perf{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_perf img{
    margin-top: 1rem;
}

img:hover{
    transform: scale(1.2);
    transition: 3s ease;
}

.conteudo{
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
    margin-top: 30px;
}

.conteudo .conteudos{
    display: flex;
    position: relative;
    border-style: solid;
    color: white;
    width: 500px;
    height: 160px;
    border-radius: 50px;
    flex-direction: column;
    background-color: black;
    opacity: 70%;
}

.conteudos p{
    display: flex;
    position: relative;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container .caption{
    display: flex;
    align-items: center;
    justify-content: center;
}

.caption a{
    text-align: center;
    margin-top: 1.5rem;
    letter-spacing: 10px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    font-size: 30px;
}

.contact{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: container;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact .email{
    margin: 40px;
}


.email a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 2px;
    font-weight: 900;
    color: white
}

.wpp a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 2px;
    font-weight: 900;
    color: white;
}

.links{
    width: 100vw;
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 900;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.portfolio{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: rgba(22, 20, 20, 0.851);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.portfolio a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.portfolio:hover{
    background-color: black;
    content: '';
    transition: all 2s ease;
}

.github{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: rgba(22, 20, 20, 0.851);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.github a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.github:hover{
    background-color: black;
    content: '';
    transition: all 1s ease;
}

.linkedin{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: rgba(22, 20, 20, 0.851);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.linkedin a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.linkedin:hover{
    background-color: black;
    content: '';
    transition: all 1s ease;
}

.instagram{
    display: flex;
    width: 35rem;
    height: 3rem;
    background-color: rgba(22, 20, 20, 0.851);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 10px;
    color: white;
}

.instagram a{
    text-decoration: none;
    color: rgb(16, 8, 24);
    justify-content: space-between;
    color: white;
}

.instagram:hover{
    background-color: black;
    content: '';
    transition: all 1s ease;
}

.rodape{
    display: block;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: -2rem;
}

/*Inicio responsividade*/
@media screen and (max-width:500px){
    /*MAX WIDTH =  Tela menor que alguma resoluçao*/
    body{
        width: 100vw;
        height: 100vh;
        background: url(../imagens/Fundo08.jpg) center;
        background-size: cover;
    }

     .container{
        width: 100%;
        height: 100%;
    }

    .header{
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .caption{
        text-align: center;
        align-items: center;
        margin-left: 185px;
    }

    .image_perf img{
        justify-content: center;
        align-items: center;
        margin-left: 185px;
        margin-top: 1.4rem;
    }
    
    .contact{
        flex-direction: row;
        align-items: center;
        margin-left: 80px;
    }

    .conteudo{
        display: block;
        flex-direction: column;
        width: 100%;
    }

    .conteudos{
        margin-left: 40px;
    }

    .container .links{
        width: 100vw;
        display: flex;
    } 

    .links{
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-left: 95px;
    }

    .rodape{
        margin-top: 190px;
        margin-left: 90px;
    }
}
